:root {
  --violet: rgb(69, 20, 90);
  --gradient: linear-gradient(90deg, #1877f2, #1877f2);
  --white: #ffffff;
}
.bgTopBar {
  background: var(--violet);
  background: var(--gradient);
  width: 100%;
}
.titleHome {
  font-weight: medium;
  font-size: 1.5rem;
}
.itemNavbar {
  color: #fff !important;
}

ul {
  list-style: none;
}
ul li:hover {
  background-color: rgba(225, 225, 225, 0.5);
}

.left-bar {
  background: var(--violet);
  background: linear-gradient(180deg, #263544, #263544);
  min-height: 250vh;
  min-width: 255px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
ul > li > a {
  color: #fff;
  margin-left: 1rem;
}

.nav-item > div {
  color: #fff;
}
.nav-link {
  font-size: 1rem;
}
.nav-item {
  padding-left: 1rem;
  padding-right: 2rem;
}
.btn:focus {
  box-shadow: unset;
}
button {
  box-shadow: none;
}
.btn-primary {
  border-color: transparent;
}
